@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <title>404 - Sayfa Bulunamadı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/template_11/css/style.css" />
</head>
<body class="colorlib-body">

    <div id="colorlib-notfound">
        <div class="colorlib-notfound">
            <div class="colorlib-notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>Üzgünüz! Sayfa Bulunamadı</h2>
            <p>Aradığınız sayfa kaldırılmış, ismi değiştirilmiş veya geçici olarak kullanılamıyor olabilir.</p>
            <a href="/">Anasayfaya Dön</a>
        </div>
        <p class="colorlib-copyright">
            <span>404 Sayfa Şablonu tasarımcısı: </span>
            <a href="https://colorlib.com/" target="_blank">Colorlib</a>
        </p>
    </div>

</body>
</html>
